$colors: (
  primary: blue,
  secondary: rgb(208, 208, 208),
  accent: white,
  text: #333,
  active-link: rgb(248, 14, 14),
  main: #f5f5f5,
  light-text: lighten(#333, 50%),
  bg-light: rgba(255, 255, 255, 0.3),
  bg-dark: rgba(51, 51, 51, 0.5),
  bg-lighter: rgba(255, 255, 255, 0.7),
  bg-light-clear: rgba(255, 255, 255, 0.1),
  bg-dark-clear: rgba(51, 51, 51, 0.2),
);
$transitions: (
  smooth: 0.17s ease,
);
$fonts: (
  main: (
    "Saira",
    sans-serif,
  ),
  second: (
    "Dancing Script",
    cursive,
  ),
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}
@function getTransitions($transition-name) {
  @return map-get($transitions, $transition-name);
}
@function getFont($font-name) {
  @return map-get($fonts, $font-name);
}

.nav {
  border-bottom: 1px solid getColor(secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(4px);
  z-index: 9;
  &__menu {
    width: 1400px;
    max-width: 100%;
    padding: 0px 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__link {
    text-decoration: none;
    color: getColor(text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border: 1px solid transparent;
    transform: translateY(1px);
    &--active {
      color: getColor(active-link);
      border-left-color: getColor(secondary);
      border-right-color: getColor(secondary);
      border-bottom-color: getColor(main);
    }
  }
  &__logo {
    margin-right: auto;
    font-family: getFont(second);
    font-weight: bold;
    font-size: 1.4em;
    padding: 0px 12px;
    .nav__icon {
      font-size: 1.2em;
      color: getColor(light-text);
    }
    .nav__name {
      margin-left: 10px;
    }
  }
  &__icon {
  }
  &__name {
    margin-left: 6px;
  }
}

.background {
  position: absolute;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: getTransitions(smooth);
  background-color: getColor(bg-dark);
  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.title {
  font-size: 2.4em;
  padding: 10px 0;
  font-weight: normal;
  color: getColor(light-text);
  font-family: getFont(second);
}
.title-simple {
  padding: 10px 0;
  text-align: center;
  font-size: 1.3em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: getColor(text);
  border: 1px solid getColor(text);
  padding: 13px 16px;
  border-radius: 5px;
  &__icon {
    margin: 0px 4px;
  }
  &__name {
    margin-left: 7px;
    margin: 0px 4px;
  }
}
.btn-primary {
  background-color: getColor(text);
  color: white;
}

.wrapper {
  margin: 0 auto;
  height: 100vh;
  width: 1300px;
  max-width: 100%;
  padding: 70px 50px;
  // border-left: 1px dashed getColor(secondary);
  // border-right: 1px dashed getColor(secondary);
  display: flex;
  flex-direction: column;
}
.background-shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 50% 100%, 0 100%, 0 0);
  background-color: getColor(main);
  z-index: -1;
}
.background-hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./images/background-hero.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -2;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  &__content {
    width: 45%;
    padding: 20px;
  }
  &__img-side {
    width: 55%;
    border: 1px solid getColor(secondary);
  }
  &__container-img {
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: scale(1.2);
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
  }
  &__title {
    font-size: 4.3em;
    line-height: 0.95em;
    font-family: getFont(second);
  }
  &__accent {
    font-size: 0.5em;
    font-family: getFont(main);
    color: getColor(light-text);
  }
  &__paragraph {
    padding-right: 20px;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 1.8em 0;
  }
  &__btns {
    display: flex;
    align-items: center;
    padding-top: 0.6em;
  }
  &__btn {
    margin-left: 13px;
  }
}

.about {
  display: flex;
  border: 1px solid getColor(secondary);
  padding: 20px;
  margin: auto;
  width: 100%;
  &__experience {
    width: 50%;
    margin-right: 20px;
    padding-bottom: 76px;
    position: relative;
  }
  &__info {
    margin-bottom: 2em;
  }
  &__paragraph {
    border: 1px solid getColor(secondary);
    padding: 15px;
    border-radius: 5px;
  }
  &__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  &__skills {
    width: 50%;
  }
  &__container-skills {
    border: 1px solid getColor(secondary);
    padding: 15px;
    border-radius: 5px;
  }
}

.skill {
  display: flex;
  align-items: center;
  // border: 1px solid getColor(secondary);
  margin-bottom: 0.4em;
  &:last-child {
    margin-bottom: 0px;
  }
  &__container-counter {
    width: 70px;
    text-align: center;
    position: relative;
    // border: 1px solid getColor(secondary)
    margin-right: 10px;
  }
  &__dashe {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px dashed getColor(secondary);
    z-index: -1;
  }
  &__counter {
    width: 30px;
    height: 30px;
    line-height: 29px;
    border: 1px dotted getColor(secondary);
    border-radius: 50%;
    background-color: getColor(main);
    display: inline-block;
    font-size: 0.7em;
    font-weight: bold;
    font-family: getFont(second);
    color: getColor(light-text);
  }
}

.projects {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  &__icon {
    font-size: 1.1em;
  }
  &__name {
    margin-left: 8px;
  }
}

.project {
  width: 32%;
  &__btn {
    height: 380px;
    position: relative;
    border: 1px solid getColor(secondary);
    border-radius: 5px;
    padding: 15px;
    background-color: white;
    overflow: hidden;
    transition: getTransitions(smooth);
    box-shadow: 5px 5px 9px rgba(51, 51, 51, 0.08),
      -5px -5px 9px rgba(51, 51, 51, 0.08);
    &:hover {
      border-color: getColor(active-link);
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border: 1px solid getColor(secondary);
    transition: getTransitions(smooth);
    &:hover {
      filter: grayscale(1);
    }
  }
  &__name {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    border-top: 1px solid getColor(secondary);
    background-color: getColor(bg-light);
    backdrop-filter: blur(10px);
  }
  &__links {
    display: flex;
    align-items: center;
    border: 1px solid getColor(secondary);
    border-radius: 50px;
    padding: 10px;
    margin-top: 1.8em;
  }
  &__github {
    width: 50px;
    position: relative;
    height: 50px;
    border: 1px solid getColor(active-link);
    color: getColor(text);
    text-decoration: none;
    line-height: 56px;
    font-size: 1.1em;
    text-align: center;
    border-radius: 50%;
  }
  &__demo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    text-decoration: none;
  }
  &__body-arrow {
    display: block;
    width: 60px;
    border-top: 1px solid getColor(text);
    margin-right: -6px;
    height: 0;
  }
  &__tip-arrow {
    display: block;
    width: 8px;
    height: 8px;
    border-right: 1px solid getColor(text);
    border-top: 1px solid getColor(text);
    transform: rotate(45deg) translateY(0.5px);
  }
  &__link {
    width: 145px;
    overflow: hidden;
    white-space: nowrap;
    height: 22px;
    font-size: 1em;
    margin-left: 10px;
    color: getColor(light-text);
    position: relative;
    font-family: getFont(second);
  }
}

.popup {
  position: absolute;
  width: 1200px;
  max-width: 100%;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: getTransitions(smooth);
  opacity: 0;
  visibility: hidden;
  padding: 0px 50px;
  &__container {
    display: flex;
    position: relative;
  }
  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }
  &__move-card-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    line-height: 52px;
    text-align: center;
    opacity: 1;
    font-size: 1.3em;
    visibility: visible;
    transition: getTransitions(smooth);
    &--disabled {
      opacity: 0;
      visibility: hidden;
    }
    &:hover {
      background-color: getColor(bg-light-clear);
    }
    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
  &__left-card {
    left: -50px;
  }
  &__right-card {
    right: -50px;
  }
  &__imgs {
    position: relative;
    width: 65%;
    min-height: 504px;
    border: 1px solid getColor(bg-light);
    border-right: none;
    background-color: getColor(bg-light);
    backdrop-filter: blur(3px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__move-btn {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 50%;
    line-height: 43px;
    text-align: center;
    transform: translateY(-50%);
    background-color: getColor(bg-dark-clear);
    font-size: 1em;
    color: white;
    border-radius: 50%;
    transition: getTransitions(smooth);
    &:hover {
      transform: translateY(-50%) scale(1.2);
    }
    &:active {
      transform: translateY(-50%) scale(1);
    }
  }
  &__left {
    left: 8px;
  }
  &__right {
    right: 8px;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: getTransitions(smooth);
    opacity: 0;
    &--active {
      opacity: 1;
    }
  }
  &__tabs {
    left: 50%;
    bottom: 20px;
    position: absolute;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
  }
  &__tab {
    width: 13px;
    height: 13px;
    margin-right: 6px;
    border-radius: 50%;
    transition: getTransitions(smooth);
    background-color: getColor(bg-light);
    box-shadow: 0px 0px 3px getColor(bg-dark);
    &--active {
      background-color: white;
    }
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  &__info {
    width: 35%;
    padding: 20px;
    position: relative;
    padding-bottom: 112px;
    background-color: getColor(main);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__title {
    font-size: 1.2em;
    border-bottom: 1px dashed getColor(secondary);
    padding-bottom: 20px;
  }
  &__title-simple {
    font-family: getFont(second);
    margin: 0.5em 0;
    margin-top: 1em;
    font-size: 1.5em;
    color: getColor(light-text);
  }
  &__tech-links {
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
  &__link {
    padding: 5px 10px;
    border: 1px solid getColor(secondary);
    text-decoration: none;
    color: getColor(text);
    border-radius: 10px;
    font-size: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
  }
  &__links {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    margin: 0;
  }
}
