$colors: (
  secondary: rgb(208, 208, 208),
  accent: white,
  text: #333,
  success: rgb(103, 206, 103),
  active-link: #f80e0e,
  main: #f5f5f5,
  light-text: lighten(#333, 50%),
  bg-light: rgba(255, 255, 255, 0.3),
  bg-dark: rgba(51, 51, 51, 0.5),
  bg-lighter: rgba(255, 255, 255, 0.7),
  bg-dark-darken: rgba(51, 51, 51, 0.8),
  bg-light-clear: rgba(255, 255, 255, 0.1),
  bg-dark-clear: rgba(51, 51, 51, 0.2),
);
$transitions: (
  smooth: 0.17s ease,
  spin: 1s linear infinite,
);
$fonts: (
  main: (
    "Saira",
    sans-serif,
  ),
  second: (
    "Dancing Script",
    cursive,
  ),
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}
@function getTransitions($transition-name) {
  @return map-get($transitions, $transition-name);
}
@function getFont($font-name) {
  @return map-get($fonts, $font-name);
}

.nav {
  border-bottom: 1px solid getColor(secondary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  &__menu {
    width: 1400px;
    height: 50px;
    max-width: 100%;
    padding: 0px 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: getColor(main);
  }
  &__main-menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__link {
    text-decoration: none;
    color: getColor(text);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 12px;
    border: 1px solid transparent;
    transform: translateY(1px);
    transition: getTransitions(smooth);
    &:hover {
      border-bottom-color: getColor(active-link);
    }
    &--active {
      color: getColor(active-link);
      border-left-color: getColor(secondary);
      border-right-color: getColor(secondary);
      border-bottom-color: getColor(main);
      &:hover {
        border-bottom-color: getColor(main);
      }
    }
  }
  &__logo {
    margin-right: auto;
    font-family: getFont(second);
    font-weight: bold;
    font-size: 1.4em;
    padding: 0px 10px !important;
    align-self: stretch;
    border: none;
    .nav__icon {
      font-size: 1.2em;
      color: getColor(active-link);
    }
    .nav__name {
      margin-left: 10px;
    }
  }
  &__icon {
    color: getColor(bg-dark);
  }
  &__name {
    margin-left: 6px;
  }
  &__btn-menu {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    padding: 0px 10px;
    align-self: stretch;
    background-color: transparent;
    display: none;
    &--active {
      border-color: getColor(secondary);
      .nav__line:nth-child(1) {
        transform: rotate(-45deg) translate(-7px, 7px);
      }
      .nav__line:nth-child(2) {
        opacity: 0;
        transform: translateX(10px);
      }
      .nav__line:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -7px);
      }
    }
  }
  &__line {
    display: block;
    width: 27px;
    height: 2px;
    margin-top: 8px;
    transition: getTransitions(smooth);
    background-color: getColor(bg-dark-darken);
    &:first-child {
      margin-top: 0px;
    }
    &:nth-child(2) {
      width: 15px;
    }
  }
}

.background {
  position: fixed;
  top: 51px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 4;
  opacity: 0;
  visibility: hidden;
  transition: getTransitions(smooth);
  background-color: getColor(bg-dark-darken);
  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.title {
  font-size: 2.4em;
  padding: 10px 0;
  font-weight: normal;
  color: getColor(light-text);
  font-family: getFont(second);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: getColor(text);
  border: 1px solid getColor(secondary);
  padding: 13px 16px;
  transition: getTransitions(smooth);
  overflow: hidden;
  &__icon {
    margin: 0px 4px;
    transition: getTransitions(smooth);
  }
  &__name {
    margin-left: 7px;
    margin: 0px 4px;
    transition: getTransitions(smooth);
  }
  &:hover {
    border-color: getColor(active-link);
    box-shadow: 0px 3px 3px rgba(51, 51, 51, 0.5),
      0px 7px 10px rgba(0, 0, 0, 0.3);
    .btn__icon {
      opacity: 0;
      transform: translateX(10px);
    }
    .btn__name {
      transform: translateX(-11px);
    }
  }
  &:active {
    transform: scale(0.95);
  }
}
.btn-primary {
  background-color: getColor(text);
  color: white;
  border-color: getColor(text);
}

.wrapper {
  margin: 0 auto;
  min-height: 100vh;
  width: 1300px;
  max-width: 100%;
  padding: 70px 50px;
  padding-bottom: 7vh;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
}

.background-shape {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  clip-path: polygon(100% 0, 100% 50%, 50% 100%, 0 100%, 0 0);
  background-color: getColor(main);
  z-index: -1;
}
.background-hero {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("./images/background-hero.jpg");
  background-position: left top;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -2;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  &__content {
    width: 45%;
    padding: 20px;
  }
  &__img-side {
    width: 55%;
  }
  &__container-img {
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    transform: scale(1.15);
    filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.4));
  }
  &__title {
    font-size: 4.3em;
    line-height: 0.95em;
    font-family: getFont(second);
  }
  &__accent {
    font-size: 0.5em;
    font-family: getFont(main);
    color: getColor(light-text);
  }
  &__paragraph {
    padding-right: 20px;
    font-size: 1.1em;
    line-height: 1.4em;
    margin: 1.8em 0;
  }
  &__btns {
    display: flex;
    align-items: center;
    padding-top: 0.6em;
  }
  &__btn {
    margin-left: 13px;
  }
}

.about {
  display: flex;
  margin: auto;
  width: 100%;
  min-height: 65vh;
  border: 1px solid getColor(secondary);
  &__info {
    width: 50%;
    display: flex;
    border-right: 1px solid getColor(secondary);
    padding: 14px 0;
  }
  &__image-side {
    width: 50%;
    padding: 20px;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
  &__container {
    width: 50%;
    align-self: center;
    padding: 0px 14px;
    position: relative;
    &:first-child {
      padding-right: 7px;
    }
    &:last-child {
      padding-left: 7px;
      padding-bottom: 75px;
    }
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
  }
  &__title-icon {
    color: getColor(bg-dark);
  }
  &__title-name {
    margin-left: 7px;
  }
  &__skill-block {
  }
  &__title-simple {
    padding-top: 10px;
  }
  &__skills {
    font-size: 0.9em;
    list-style-position: inside;
    padding: 0px 5px;
    border-radius: 3px;
    background-color: getColor(bg-lighter);
    list-style: none;
  }
  &__skill {
    &::before {
      content: "\2022";
      color: getColor(light-text);
      font-weight: bold;
      display: inline-block;
      width: 1em;
    }
  }
  &__paragraph {
    font-size: 0.9em;
    margin: 10px 0;
    padding: 0px 5px;
    border-radius: 3px;
    background-color: getColor(bg-lighter);
    min-height: 10vh;
  }
  &__accent-title {
    color: getColor(bg-dark);
    text-align: center;
    display: block;
    font-size: 0.8em;
  }
  &__btn-resume {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%);
  }
}

.projects {
  display: grid;
  margin: auto;
  width: 100%;
  min-height: 65vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1em;
}

.project {
  overflow: hidden;
  transition: getTransitions(smooth);
  border-radius: 3px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid white;
  box-shadow: inset 0px 0px 23px getColor(bg-dark-clear),
    0px 15px 23px rgba(130, 52, 52, 0.1);
  position: relative;
  &:hover {
    .project__bg-hover {
      width: 100%;
    }
  }
  &__bg-hover {
    position: absolute;
    background-color: getColor(bg-light);
    transition: getTransitions(smooth);
    width: 0%;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: getColor(bg-dark-clear);
  }
  &__more-icon {
    font-size: 3em;
  }
  &__more-text {
    font-weight: bold;
  }
  &:nth-child(1) {
    grid-column: 1/2;
    transition: getTransitions(smooth);
    grid-row: 1/3;
    background-image: url("./project-imgs/project1.1.png");
  }
  &:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url("./project-imgs/project2.1.png");
  }
  &:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url("./project-imgs/project1.1.png");
  }
  &__links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // border-top-right-radius: 50px;
    background-color: getColor(bg-dark-clear);
    // border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 1;
    backdrop-filter: blur(3px);
    border-top: 1px solid getColor(bg-light);
  }
  &__btn-link {
    // color: getColor(secondary);
    font-size: 0.9em;
    padding: 7px 10px;
    border: 1px solid getColor(bg-light);
    color: white;
  }
  &__link {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.2);
    border: 1px solid getColor(bg-light);
    color: white;
    display: flex;
    background-color: getColor(bg-dark-clear);
    text-decoration: none;
    // color: getColor(text);
    margin-right: 10px;
    transition: getTransitions(smooth);
    // border-bottom-color: getColor(active-link);
    &:hover {
      border-color: getColor(active-link);
      // box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.2),
      //   0px 0px 6px getColor(active-link);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__link-icon {
    margin: auto;
    font-size: 1.3em;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.4));
  }
}

.popup {
  position: fixed;
  width: 1200px;
  max-width: 100%;
  z-index: 7;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  transition: getTransitions(smooth);
  opacity: 0;
  visibility: hidden;
  padding: 0px 50px;
  .popup__move-card-btn--active {
    visibility: hidden;
  }
  &__container {
    display: flex;
    position: relative;
  }
  &--active {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
    .popup__move-card-btn--active {
      visibility: visible;
    }
  }
  &__move-card-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    color: white;
    background-color: transparent;
    line-height: 52px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    font-size: 1.3em;

    transition: getTransitions(smooth);
    &--active {
      opacity: 1;
      visibility: visible;
    }
    &:hover {
      background-color: getColor(bg-light-clear);
    }
    &:active {
      transform: translateY(-50%) scale(0.9);
    }
  }
  &__left-card {
    left: -50px;
  }
  &__right-card {
    right: -50px;
  }
  &__imgs {
    position: relative;
    width: 65%;
    border: 1px solid getColor(bg-light);
    border-right: none;
    background-color: getColor(bg-light);
    backdrop-filter: blur(3px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &__move-btn {
    position: absolute;
    height: 35px;
    width: 35px;
    top: 50%;
    line-height: 43px;
    text-align: center;
    transform: translateY(-50%);
    background-color: getColor(bg-dark-clear);
    font-size: 1em;
    color: white;
    border-radius: 50%;
    transition: getTransitions(smooth);
    &:hover {
      transform: translateY(-50%) scale(1.2);
    }
    &:active {
      transform: translateY(-50%) scale(1);
    }
  }
  &__left {
    left: 8px;
  }
  &__right {
    right: 8px;
  }
  &__img {
    position: absolute;
    padding: 15px 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: getTransitions(smooth);
    opacity: 0;
    &--active {
      opacity: 1;
    }
  }
  &__tabs {
    left: 50%;
    bottom: 14px;
    position: absolute;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
  }
  &__tab {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    border-radius: 50%;
    transition: getTransitions(smooth);
    background-color: getColor(bg-dark-clear);
    box-shadow: 0px 0px 3px white;
    &--active {
      background-color: getColor(text);
    }
    &:hover {
      transform: scale(1.2);
    }
    &:active {
      transform: scale(1);
    }
    &:last-child {
      margin-right: 0px;
    }
  }
  &__info {
    width: 35%;
    padding: 20px;
    position: relative;
    padding-bottom: 103px;
    background-color: getColor(main);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &__btn-close {
    border: 1px solid getColor(secondary);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    background-color: transparent;
    color: getColor(text);
    transition: getTransitions(smooth);
    border-radius: 3px;
    &:hover {
      border-color: getColor(active-link);
      color: getColor(active-link);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__close-icon {
    margin: auto;
  }
  &__title {
    font-size: 1.2em;
    border-bottom: 1px dashed getColor(secondary);
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__title-simple {
    font-family: getFont(second);
    margin: 0.5em 0;
    margin-top: 1em;
    font-size: 1.5em;
    color: getColor(light-text);
  }
  &__tech-links {
    padding: 0px 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    height: 15vw;
    max-height: 220px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 0.4em;
    }
    &::-webkit-scrollbar-track {
      background-color: getColor(bg-lighter);
    }
    &::-webkit-scrollbar-thumb {
      background-color: getColor(bg-dark-clear);
    }
  }
  &__link {
    padding: 5px 10px;
    border: 1px solid getColor(secondary);
    text-decoration: none;
    color: getColor(text);
    border-radius: 10px;
    font-size: 0.8em;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: getTransitions(smooth);
    &:hover {
      border-color: getColor(active-link);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__links {
    border: 1px solid getColor(secondary);
    background-color: transparent;
    backdrop-filter: none;
    bottom: 20px;
    border-radius: 5px;
    left: 20px;
    right: 20px;
    .project__link {
      border-color: getColor(bg-dark-clear);
      &:hover {
        border-color: getColor(active-link);
      }
    }
  }
}

.contacts {
  width: 100%;
  margin: auto;
  display: flex;
  min-height: 65vh;
  &__image-side {
    width: 50%;
    padding: 20px;
    border: 1px solid getColor(secondary);
    border-left: none;
  }
  &__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}

.field {
  display: block;
  margin-bottom: 0.1em;
  // border: 1px solid black;
  // display: none;
  &__name {
    display: block;
  }
  &__textarea {
    height: 20vh;
    resize: none;
    vertical-align: top;
  }
  &__input {
    width: 100%;
    padding: 6px;
    border: none;
    border: 1px solid transparent;
    border-color: getColor(secondary);
    outline: none;
    transition: getTransitions(smooth);
    &--error {
      border-bottom-color: getColor(active-link);
    }
    &:focus {
      outline-style: solid;
      outline-color: getColor(bg-dark-clear);
      outline-width: 4px;
    }
  }
  &__msg {
    height: 25px;
    display: block;
    color: getColor(active-link);
    display: flex;
    align-items: center;
    font-size: 0.7em;
    transition: getTransitions(smooth);
    opacity: 0;
    visibility: hidden;
    justify-content: flex-end;

    &--active {
      opacity: 1;
      visibility: visible;
    }
  }
  &__msg-icon {
  }
  &__msg-name {
    margin-left: 6px;
  }
}

.form {
  padding: 20px;
  border: 1px solid getColor(secondary);
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  &__fields {
  }
  &__btn-handler {
    display: none;
  }
  &__btns {
    display: flex;
    align-items: center;
    padding-top: 0.5em;
  }
  &__link {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    border: 1px solid getColor(text);
    font-size: 1.2em;
    color: getColor(text);
    margin-right: 10px;
    transition: getTransitions(smooth);
    &:hover {
      border-color: getColor(active-link);
    }
    &:active {
      transform: scale(0.9);
    }
  }
  &__icon {
    margin: auto;
  }
  &__submit {
    margin-left: auto;
    &--disabled {
      background-color: transparent;
      color: getColor(success);
      border-color: getColor(success);
      cursor: default;
      &:hover {
        box-shadow: none;
        border-color: getColor(success);
        .btn__icon {
          transform: none;
          opacity: 1;
        }
        .btn__name {
          transform: none;
        }
      }
      &:active {
        transform: none;
      }
    }
  }
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: getColor(bg-lighter);
  display: flex;
  opacity: 0;
  visibility: hidden;
  transition: getTransitions(smooth);
  &--load {
    opacity: 1;
    visibility: visible;
  }
  &__spinner {
    width: 110px;
    height: 110px;
    border: 9px solid getColor(bg-lighter);
    border-left-color: getColor(bg-dark);
    box-shadow: inset 0px 0px 4px rgba(130, 52, 52, 0.1),
      0px 0px 4px rgba(130, 52, 52, 0.1);
    border-radius: 50%;
    margin: auto;
    animation: spin getTransitions(spin);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1050px) {
  .nav {
    &__link {
      padding: 11px 12px;
      &--active {
        border-bottom-color: getColor(main);
      }
    }
  }
  .nav,
  .wrapper {
    font-size: 0.9em;
  }

  .about {
    flex-direction: column-reverse;
    align-items: center;
    border: none;
    &__info {
      width: 100%;
      border-right: none;
    }
    &__image-side {
      width: 80%;
    }
  }

  .contacts {
    flex-direction: column-reverse;
    align-items: center;
    &__image-side {
      width: 80%;
      border: none;
    }
  }
  .form {
    border: none;
    width: 100%;
  }
  .loader {
    &__spinner {
      width: 100px;
      height: 100px;
      border-width: 8px;
    }
  }
}

@media (max-width: 860px) {
  .popup {
    // position: absolute;
    top: calc(50% + 25px);
    &__container {
      flex-direction: column-reverse;
    }
    &__imgs {
      min-height: 50vw;
      width: 100%;
      border: none;
      background-color: getColor(main);
      backdrop-filter: none;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
    }
    &__img {
      padding: 0;
    }
    &__info {
      width: 100%;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      border-bottom-right-radius: 0px;
    }
  }
}

@media (max-width: 830px) {
  .nav {
    &__menu {
      position: relative;
    }
    &__main-menu {
      flex-direction: column;
      position: absolute;
      top: 50px;
      width: 220px;
      max-width: 100%;
      border: 1px solid getColor(secondary);
      align-items: stretch;
      padding: 10px 0;
      background-color: getColor(main);
      opacity: 0;
      visibility: hidden;
      transition: getTransitions(smooth);
      transform: translateY(-50%);
      z-index: -1;
      &--drop {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
      }
    }
    &__link {
      transform: none;
      transition: getTransitions(smooth);
      transform: translate(-1px, 0px);
      padding: 12px 12px;

      &:hover {
        border-left-color: getColor(active-link);
        border-bottom-color: transparent;
      }
      &--active {
        color: getColor(active-link);
        border-color: transparent;
        &:hover {
          border-color: transparent;
        }
      }
    }
    &__btn-menu {
      display: block;
    }
  }
  .hero {
    flex-direction: column-reverse;
    &__content {
      width: 100%;
    }
    &__img-side {
      width: 80%;
    }
    &__image {
      transform: none;
    }
  }
  .background-shape {
    display: none;
  }
  .background-hero {
    display: none;
  }
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    min-height: 95vh;
    .project {
      &:nth-child(1) {
        grid-column: 1/2;
        grid-row: 1/2;
      }
      &:nth-child(2) {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &:nth-child(3) {
        grid-column: 1/2;
        grid-row: 3/4;
      }
    }
  }
}

@media (max-width: 550px) {
  .nav {
    &__menu {
      padding: 0px 20px;
    }
  }
  .wrapper {
    padding: 70px 20px;
    padding-bottom: 7vh;
  }
  .hero {
    &__content {
      padding-left: 0;
      padding-right: 0;
    }
    &__img-side {
      width: 100%;
    }
  }
  .about {
    padding-left: 0;
    padding-right: 0;
    &__image-side {
      width: 100%;
    }
  }
  .contacts {
    &__image-side {
      width: 100%;
    }
  }
  .form {
    padding-left: 0;
    padding-right: 0;
  }
  .popup {
    padding: 0px 20px;
    &__move-card-btn {
      background-color: getColor(bg-dark);
      &:hover {
        background-color: getColor(bg-dark-clear);
      }
    }
    &__left-card {
      left: -20px;
    }
    &__right-card {
      right: -20px;
    }
    &__tech-links {
      height: 25vw;
    }
  }
}

@media (max-width: 470px) {
  .about {
    &__info {
      flex-direction: column;
    }
    &__container {
      width: 100%;
      padding: 10px 0px;
      &:first-child {
        padding-left: 0;
        padding-right: 0;
      }
      &:last-child {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 75px;
      }
    }
  }
}
