@import url("https://fonts.googleapis.com/css2?family=Saira&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #333;
  font-size: 1.1em;
  font-family: "Saira", sans-serif;
  background-color: whitesmoke;
}
input,
button,
textarea,
label {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
